
h1 {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    position: relative;
    text-align: center;
}


h2 {
    text-align: center;
}


.h2-title {
    text-align: justify;
}

.p-title {
    text-align: justify;
}

.section {
    display: block;
}

#aliados {
    padding: 80px 0;
}

#aliados-space {
    padding: 20px 0;
}

#proposito {
    padding: 80px 0;
}

#quienesSomos {
    padding: 70px 0;
}


#staff {
    padding: 60px 0;
}


.img-fluid {
    transform: translate(10px, -30px);
}

.p-center {
    text-align: center;
}

.container-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.our-team {
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0 25px;
    padding: 30px 70px;
}
.post-descript {
    font-weight: bold;
    color: #A5DF2A;
}

.b-class {
    font-size: larger;
    font-weight: bold;
    color: #A5DF2A;
}

.row {
    text-align: center;
}


